.noticias__card{
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/Vidas-ao-Vento-Naoko-img.png) no-repeat center / cover;
    width: 420px;
    height: 250px;
    margin-bottom: 3rem;
}

.noticias__card:nth-child(2){
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/GTA-5-img.png) no-repeat center / cover;


}

.noticias__card:nth-child(3){
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/Vikings-img.png) no-repeat center / cover;
    margin-right: 0;

}

.noticias__card:nth-child(4){
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/soul-img.png) no-repeat center / cover;

}

.noticias__card:nth-child(5){
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/your-name-img.png) no-repeat center / cover;


}

.noticias__card:nth-child(6){
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/LOL-img.png) no-repeat center / cover;
    margin-right: 0;

}


@media screen and (min-width: 0px) {
    .noticias__card{
        width: 100%;
    }
}


@media screen and (min-width: 990px) {
    .noticias__card{
        width: 420px;
    }
}



