.conteudo__corpo{
    color: var(--cor--textos);
    font-family: 'Lexend Deca';
    font-weight: 400;
    margin-bottom: 5rem;
}

@media screen and (min-width: 0px){
    .conteudo__corpo{
        width: 100%;
    }
}


@media screen and (min-width: 768px){
    .conteudo__corpo{
        width: 500px;
    }
}