.destaques__principal{
    background-color: transparent;
    background: linear-gradient(360deg, #13131F 0%, rgba(19, 19, 31, 0) 100%), url(../../img/The-walking-dead-img.png) no-repeat center / cover;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}


@media screen and (min-width: 0px){
    .destaques__principal{
        grid-column: 1 / 5;
    }
}

@media screen and (min-width: 990px){
    .destaques__principal{
        grid-column: 1 / 3;
    }
}