.cabecalho__itens{
    margin-right: 7rem;
    font-size: 16px;
}

.cabecalho__itens:last-child{
    border: 1px solid var(--cor--roxa);
    border-radius: 10px;
    text-align: center;
    margin-right: 0;
    width: 120px;
}

@media screen and (min-width: 0px){
    .cabecalho__itens{
        display: none;
    }

    .cabecalho__itens:last-child{
        display: inline;
        width: 100%;
    }
}





@media screen and (min-width: 768px){
    .cabecalho__itens{
        display: inline;
    }

    .cabecalho__itens:last-child{
        display: inline;
        width: 120px;
    }
}



