.cabecalho{
    padding: 1.5rem 0;
    font-family: 'Lexend Deca';
}

@media screen and (min-width: 0px){
    .cabecalho{
        margin: 0 2.5rem;
    }
}


@media screen and (min-width: 990px){
    .cabecalho{
        margin: 0 8rem;
    }
}


