.conteudo{
    margin: 7rem 10rem;
}

@media screen and (min-width: 0px){
    .conteudo{
        margin: 7rem 2.5rem;
    }
}

@media screen and (min-width: 990px){
    .conteudo{
        margin: 7rem 8rem;
    }
}