.populares{
    grid-template-columns: 1fr 21.125rem;
    margin: 5rem 0;

}

@media screen and (min-width: 0px) {
    .populares{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}


@media screen and (min-width: 0px) {
    .populares__caixa{
        width: 100%;
    }
}


@media screen and (min-width: 768px) {
    .populares__caixa{
        width: auto;
    }
}



@media screen and (min-width: 990px) {
    .populares{
        display: grid;
    }
}
