.complemento__titulo{
    border-bottom: 5px solid var( --cor--roxa);
    color: var(--cor--textos);
    font-family: 'Lexend Deca';
    font-size: 24px;
    font-weight: 400;
    padding-bottom: 0.5rem;
    width: 250px;
}